<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="databaseserver" value="devsqlag.extendhealth.com"/>
		<add key="dbName" value="devehgalaxy"/>
		<add key="authtype" value="Windows"/>
		<add key="user" value="extendhealth\jaydutt"/>
		<add key="password" value=""/>
		<add key="DbServer" value="MSSQLSERVER"/>
		<add key="runner" value="Config.xlsx"/>
		<add key="runnersheet" value="Runner"/>
		<add key="dbfolder" value="dbConfig"/>
		<add key="tablefilename" value="structure.xlsx"/>
		<add key="tablefilesheet" value="structure"/>
	</appSettings>
</configuration>